.confirm__modal {
  width: 450px;
  height: 260px;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.05),
    0 1px 3px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.1);

  &.dark {
    background-color: #0f172a;
    border: 1px solid #cccaca34;
  }

  .header {
    height: 85px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(203, 213, 225, 0.3);

    .confirm__title {
      color: #0f172a;
      font-size: 20px;
      font-weight: bold;

      &.dark {
        color: #fff;
      }
    }
  }

  .form {
    width: 80%;
    margin: 20px auto;

    .form__text {
      color: #0f172a;
      font-size: 16px;
      font-weight: bold;
      text-align: center;

      &.dark {
        color: #fff;
      }
    }

    .confirm__button {
      width: 160px;
      height: 44px;
      margin: 20px auto;
    }
  }
}
