.contact__modal {
  width: 450px;
  height: 470px;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.1);

  &.dark {
    background-color: #0f172a;
    border: 1px solid #cccaca34;
  }

  .header {
    height: 85px;
    padding: 24px;
    display: flex;
    justify-content: space-between;

    .contact__title {
      color: #0f172a;
      font-size: 20px;
      font-weight: bold;

      &.dark {
        color: #fff;
      }
    }
  }

  .form {
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .form__label {
      font-size: 14px;
      font-weight: 500;

      &.dark {
        color: #fff;
      }
    }

    .input {
      margin-top: 10px;
    }

    .buttons__wrapper {
      display: flex;
      gap: 14px;

      .button {
        flex: 1;
      }
    }
  }
}
