.sidebar__item {
  width: 247px;
  height: 70px;
  display: flex;
  align-items: center;
  text-align: left;
  color: #151f31;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;

  &.active {
    background: linear-gradient(to bottom, rgba(59, 130, 246, 0.15), rgba(20, 184, 166, 0.15));
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  &.disable {
    // background-color: rgba(100, 110, 130, 0.1);
    opacity: 0.5;
    border-radius: 12px;
    background: none !important;
  }

  @media (hover: hover) {
    &:hover {
      border-radius: 12px;
      background: rgba(0, 0, 0, 0.08);
    }
  }

  &.dark {
    color: #c3cad3;

    @media (hover: hover) {
      &:hover {
        border-radius: 12px;
        background: rgb(51, 65, 85);
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    bottom: 0;
    width: 0;
    height: 87%;
    background: linear-gradient(to bottom, #3b82f6, #14b8a6);
    transform: translateY(-20%);
    transition: all 0.3s ease;
    border-radius: 9999px 0 0 9999px;
  }

  &.active::before {
    width: 4px;
    transform: translateY(-50%);
  }
}

.icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  position: relative;
  margin-left: 16px;

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    color: #647479;
    transition-property: all;
    transition-duration: 300ms;

    &.dark {
      color: #e2e8f0;
    }
  }
}

.name__description {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 2px;

  span {
    font-weight: 500;
    font-size: 14px;
  }

  .description {
    color: #a9b1bb;
    font-size: 12px;

    &.dark {
      color: #647479;
    }
  }
}
