.param__selector {
  .select {
    width: 144px;
    height: 50px;
    background-color: #fff;
    padding: 0 25px 0 10px;
    color: #000;
    border: none;
    outline: none;
    border: 1px solid #00000030;
    border-radius: 8px;

    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;

    option {
      font-size: inherit;
      padding: 8px 12px;
      min-height: 36px;
      border: none;

      &:hover {
        background-color: #f1f5f9;
      }
    }

    &.dark {
      color: #fff;
      background-color: #2e3b4e;
      border: 1px solid rgba(203, 213, 225, 0.3);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");

      option {
        background-color: #2e3b4e;
        color: #fff;

        &:hover {
          background-color: #374151;
        }
      }
    }
  }
}
