.transaction_modal {
  width: 450px;
  height: 366px;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  padding: 24px;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.05),
    0 1px 3px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.1);

  &.dark {
    background-color: #0f172a;
    border: 1px solid #cccaca34;
  }

  .xbutton__wrapper {
    position: absolute;
    top: 24px;
    right: 24px;
  }

  .statuses__wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
  }

  .status__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .status__label {
      color: #000;

      &.dark {
        color: #fff;
      }

      &.success {
        color: #22c55e;
      }
    }
  }

  .status {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.static {
      border: 3px solid #717171c7;
      background-color: #cbd5e1c7;
    }

    &.pending {
      border: 3px solid #22c55e;
      background: rgba(34, 197, 94, 0.4);
      box-shadow:
        rgba(34, 197, 94, 0.6) 0px 0px 8px,
        rgba(34, 197, 94, 0.6) 0px 0px 16px;

      .check__wrapper {
        padding: 2px;
        border-radius: 50%;
        border: 3px solid #22c55e;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &.processing {
      border: 3px solid #3b82f6;
      background: rgba(59, 130, 246, 0.4);
      box-shadow:
        rgba(59, 130, 246, 0.6) 0px 0px 8px,
        rgba(59, 130, 246, 0.6) 0px 0px 16px;
    }
  }

  .loader {
    animation: rotate 2s linear infinite;
  }

  .big__loader {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(59, 130, 246, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scale 1.2s linear infinite;
  }

  .content__wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .amount__wrapper {
      width: fit-content;
      background-color: #cbd5e1c7;
      padding: 10px 20px;
      font-weight: 700;
      border-radius: 6px;

      &.dark {
        background-color: rgba(62, 63, 65, 0.8);
      }

      .amount {
        color: #000;
        font-size: 20px;

        &.dark {
          color: #fff;
        }
      }
    }

    .info__wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 6px;
      text-align: center;

      .title {
        color: #000;
        font-size: 18px;

        &.dark {
          color: #fff;
        }
      }

      .paragraph {
        font-size: 16px;
        color: #6d6d6d;
      }
    }

    .dot__loader {
      display: flex;
      align-items: center;
      gap: 6px;

      .dot {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: rgba(136, 144, 152, 0.8);
      }

      .dot__1 {
        animation: jump 0.6s linear infinite;
      }

      .dot__2 {
        animation: jump 0.6s linear infinite 0.2s;
      }

      .dot__3 {
        animation: jump 0.6s linear infinite 0.4s;
      }
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    box-shadow: none;
  }

  50% {
    box-shadow:
      rgba(59, 130, 246, 0.6) 0px 0px 8px,
      rgba(59, 130, 246, 0.6) 0px 0px 16px;
  }

  100% {
    box-shadow: none;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(-5px);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
