.AIMessenger {
  flex: 1;

  &.dark {
    background-color: #020617;
  }

  .chat {
    overflow-y: auto;

    .message__wrapper {
      width: 100%;
      display: flex;
      padding: 26px 70px;

      &.ai {
        justify-content: flex-start;
      }

      &.user {
        justify-content: flex-end;
      }

      span {
        font-size: 14px;
      }
    }
  }

  .input__message__wrapper {
    width: 100%;
    background-color: #fbfcfd;
    box-shadow: 0px -2px 2px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px 30px;

    &.dark {
      background-color: #101829;
    }
  }

  .input__message {
    height: 52px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;

    .textarea {
      flex: 1;
      resize: none;
      outline: none;
      border: 0;
      border: 1px solid #c3cad3;
      border-radius: 12px;
      padding: 12px 16px;

      &.dark {
        background-color: #334155;
        border: 1px solid #334155;
        color: #fff;
      }

      &:focus {
        border: 2px solid rgba(59, 130, 246, 0.6);
      }
    }
  }
}

.send__button__wrapper {
  width: 52px;
  height: 52px;
  border-radius: 12px;
  background-color: #3b82f6;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease;

  &.visible {
    opacity: 1;
  }

  @media (hover: hover) {
    &:hover {
      background-color: #2563eb;
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
      transform: scale(1.05);
    }
  }

  @media (max-width: 640px) {
    cursor: default;
  }
}

.microphone__wrapper {
  width: 52px;
  height: 52px;
  border-radius: 12px;
  background-color: #f1f5f9;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  color: #475569;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease all;

  &.dark {
    background-color: #334155;
    color: #a2b5bb;
  }

  @media (hover: hover) {
    &:hover {
      background-color: #e2e8f0;
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
      transform: scale(1.05);
    }

    &.dark:hover {
      background-color: #4c5d76;
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
      transform: scale(1.05);
    }
  }

  @media (max-width: 640px) {
    cursor: default;
  }
}
