.balance__card {
  width: 346px;
  padding: 24px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: relative;

  &.dark {
    background-color: #020617;
    border: 1px solid #cbd5e11c;
  }

  .content__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .card__title {
    font-size: 14px;
    color: #475569;

    &.dark {
      color: #cbd5e1;
    }
  }

  .balance__value {
    font-size: 24px;

    &.dark {
      color: #fff;
    }
  }

  .balance__change {
    padding: 4px 6px;
    border-radius: 16px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.plus {
      background-color: #dcfce7;
      color: #008000;

      &.dark {
        background-color: #0f342e;
        color: #4ade80;
      }
    }

    &.minus {
      background-color: #fee2e2;
      color: #c41515;

      &.dark {
        background-color: #381b29;
        color: #f87171;
      }
    }

    span {
      font-size: 12px;
    }
  }
}
