.support__default__card {
  width: 1080px;
  padding: 32px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  &.dark {
    background-color: #0a1022;
    border: 1px solid #cbd5e11c;
  }
}

.wallet__wrapper {
  width: 50px;
  height: 50px;
  color: #64748b;
}

.support__info__card {
  width: 1080px;
  padding: 32px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &.dark {
    background-color: #0a1022;
    border: 1px solid #cbd5e11c;
  }
}

.support__title,
.support__info__title {
  font-size: 24px;

  &.dark {
    color: #fff;
  }
}

.card__description {
  font-size: 18px;
  color: #64748b;

  &.dark {
    color: #fff;
  }

  &__connect {
    font-size: 18px;
    color: black;
    line-height: 30px;

    &.dark {
      color: #fff;
    }
  }
}

.notification {
  font-size: 14px;
  color: #64748b;

  &.dark {
    color: #99a6ba;
  }
}
