.gippy__logo {
  background-color: #f0f1f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid rgba(203, 213, 225, 0.3);

  &.dark {
    background-color: #2e3747;
    border: none;
  }
}
