.header {
  height: 98px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.dark {
    background-color: #101829;

    h2 {
      color: #fff;
    }
  }

  .logo__content__wrapper {
    display: flex;

    .content__wrapper {
      margin-left: 16px;

      h2 {
        font-size: 20px;
      }

      .text {
        font-size: 14px;
        color: #647479;

        &.dark {
          color: #a2b5bb;
        }
      }
    }
  }

  .buttons__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;

    .upgrade__button {
      width: 120px;
      height: 38px;
      background-image: linear-gradient(to right, #f6ca3b, #ff0606);
      color: #ffffff;
      // border: 1px solid rgba(96, 165, 250, 0.3);
      box-shadow: 0 4px 6px -1px rgba(96, 165, 250, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      cursor: pointer;
      border-radius: 12px;
      transition: all 0.3s ease;

      &.dark {
        box-shadow: none;
        border: none;

        &:hover {
          scale: 1.05;
          box-shadow: none;
        }
      }

      @media (hover: hover) {
        &:hover {
          scale: 1.05;
          box-shadow: 0 4px 6px 2px rgba(96, 165, 250, 0.2);
        }

        @media (max-width: 640px) {
          cursor: default;
        }
      }

      .text__button__wrapper {
        margin-bottom: 4px;

        .text__button {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
