.header {
  height: 98px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.dark {
    background-color: #101829;

    h2 {
      color: #fff;
    }
  }

  .logo__content__wrapper {
    display: flex;

    .content__wrapper {
      margin-left: 16px;

      h2 {
        font-size: 20px;
      }

      .text {
        font-size: 14px;
        color: #647479;

        &.dark {
          color: #a2b5bb;
        }
      }
    }
  }

  .buttons__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
