.wallet {
  width: 100%;
  background-color: #f2f4f6;
  display: flex;
  justify-content: center;

  &.dark {
    background-color: #020617;
  }

  .wallet__content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .wallet__header {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .wallet__title {
      font-size: 26px;

      &.dark {
        color: #fff;
      }
    }

    .wallet__description {
      &.dark {
        color: #cbd5e1;
      }
    }
  }
}
